body{
    background-color: rgb(242, 239, 236);
}
.but{
    margin-top: 10%;
    text-align: center;
}
.head{
    margin-left: 10%;
}
.button{
    background-color:rgb(249, 156, 156);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 5%;
}
.link{
    text-decoration: none;
    color: black;
}
.box{
    margin-left: 30%;

}
.form{
    width: fit-content;
    background-color: rgb(222, 188, 188);
    border-radius: 5%;
    padding: 3%;
    margin-left: 10%;
    line-height: 150%;
   
}

.sub{
    margin-left: 35%;
}
